.cell {
  height: 50px;
  width: 50px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

}

.cell:hover {
  background-color: cornflowerblue;
}

.row {
  height: 50px;
  display: flex;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 400px;
}

.grey {
  background-color: grey;
}

.white {
  background-color: white;
}

.cell_selected{
  background-color: blue !important;
}